@page "{id}"
@model task8.Pages.Movies.EditModel
@{
}
<div class="container">
<form method="post">
	<input type="hidden" name="Id" value="@Model.Movie.Id"/>
	<div class="mb-3">
		<label class="form-label" for="title">Назва фільму</label>
		<input type="text" name="title" id="tit" class="form-control" value="@Model.Movie.Title"/>
	</div>
	<div class="mb-3">
		<label class="form-label" for="filmmaker">Режисер</label>
			<input type="text" name="filmmaker" id="filmm" class="form-control" value="@Model.Movie.Filmmaker" />
	</div>
	<div class="mb-3">
		<label class="form-label" for="genre">Жанр</label>
			<input type="text" name="genre" id="genre" class="form-control" value="@Model.Movie.Genre"/>
	</div>
	<div class="mb-3">
		<label class="form-label" for="description">Опис фільму</label>
			<input type="text" name="description" id="descrip" class="form-control" value="@Model.Movie.Description" />
	</div>
	<div class="mb-3">
		<button type="submit" class="btn btn-outline-primary">Зберігти</button>
	</div>
</form>
</div>
