@page
@model task8.Pages.Movies.IndexModel
@{
}
<h1>My favorite movies</h1>
<div class="container">
	<div>
		<a asp-page="Create">Додати фільм</a>
	</div>
	<div class="row mb-3">
		<div class="col">
			<form method="get">
				<div class="row align-items-center" >
					<div class="col-auto">
						<label class="col-form-label">По назві</label>
					</div>
					<div class="col-auto">
						<input asp-for="TitleSearch" class="form-control" />
					</div>
					<div class="col-auto">
						<label class="col-form-label">По жанру</label>
					</div>
					<div class="col-auto">
						<input asp-for="GenreSearch" class="form-control" />
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-primary">Пошук</button>
					</div>
				</div>
			</form>
		</div>
	</div> 
	@foreach (var movie in Model.Movies)
	{
		<div class="card w-100 mb-3">
			<div class="card-body">
				<h5 class="card-title">@movie.Title</h5>
				<p class="card-text">Режисер: @movie.Filmmaker</p>
				<p class="card-text">Жанр: @movie.Genre</p>
				<p class="card-text">Короткий опис фільму: @movie.Description</p>
				<a asp-page="Edit" asp-route-id="@movie.Id" class="btn btn-outline-primary">Редагувати</a>

				<form method="post" asp-antiforgery="true" style="display: inline">
					<input type="hidden" name="id" value="@movie.Id"/>
					<button type="submit" class="btn btn-outline-danger">Видалити</button>
					<a asp-page="Delete" asp-route-id="@movie.Id">Видалити з підтвердженням</a>
				</form>
			</div>
		</div>
	}
</div>